﻿@using MiPrimeraAplicacionWeb.Models;
@model List<ClienteCLS>
@{
    ViewBag.Title = "Index";
}

@*STYLESHEETS*@
<link href="~/Content/Cliente/cliente.css?V=1.0" rel="stylesheet" />


<h2>Clientes</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr style="text-align:center; ">
            <td class="col-idclient">@Html.LabelFor(x => Model[0].iidcliente)</td>
            <td class="col-nameclient">@Html.LabelFor(x => Model[0].nombre)</td>
            <td class="col-apPatclient">@Html.LabelFor(x => Model[0].apPaterno)</td>
            <td class="col-apMatclient">@Html.LabelFor(x => Model[0].apMaterno)</td>
            <td class="col-telFijclient">@Html.LabelFor(x => Model[0].telefonoFijo)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-idclient">@item.iidcliente</td>
                <td class="col-nameclient">@item.nombre</td>
                <td class="col-apPatclient">@item.apPaterno</td>
                <td class="col-apMatclient">@item.apMaterno</td>
                <td class="col-telFijclient">@item.telefonoFijo</td>
            </tr>
        }
    </tbody>
</table>
