﻿@using MiPrimeraAplicacionWeb.Models;
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

@*STYLESHEETS*@
<link href="~/Content/Sucursal/sucursal.css?V=1.0" rel="stylesheet" />


<h2>Sucursales</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td class="col-idsuc">@Html.LabelFor(p => Model[0].iidsucursal)</td>
            <td class="col-namesuc">@Html.LabelFor(p => Model[0].nombre)</td>
            <td class="col-telsuc">@Html.LabelFor(p => Model[0].telefono)</td>
            <td class="col-emailsuc">@Html.LabelFor(p => Model[0].email)</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-idsuc">@item.iidsucursal</td>
                <td class="col-namesuc">@item.nombre</td>
                <td class="col-telsuc">@item.telefono</td>
                <td class="col-emailsuc">@item.email</td>
            </tr>
        }
    </tbody>
</table>