﻿body {
}

.col-idclient {
    width: 10%;
    text-align: center;
}

.col-nameclient {
    width: 20%;
}

.col-apPatclient {
    width: 25%;
}
.col-apMatclient {
    width: 25%;
}
.col-telFijclient {
    width: 20%;
}