﻿@using MiPrimeraAplicacionWeb.Models;
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

@*STYLESHEETS*@
<link href="~/Content/Marca/marca.css?V=1.0" rel="stylesheet" />


<h2>Marcas</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td class="col-id">@Html.LabelFor(p => Model[0].iidmarca)</td>
            <td class="col-name">@Html.LabelFor(p => Model[0].nombre) </td>
            <td class="col-description">@Html.LabelFor(p => Model[0].descripcion)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-id">@item.iidmarca</td>
                <td class="col-name">@item.nombre</td>
                <td class="col-description">@item.descripcion</td>
            </tr>
        }
    </tbody>
</table>